{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOG IN</title>
   <!--============== Fontawesome ===================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
   
   <link rel="stylesheet" href="{% static 'css/login-form.css' %}"> 


    
</head>
<body>
 
<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">

            <div class="login-pic">
                <img src="{% static 'img/undraw_Hello_qnas.svg' %}"><!--IMAGE OG THAT PEOPLE-->
            </div>


            <form class="login-form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <span class="login-form-title"> Login </span>
                <div class="wrap-input">
                <div id="div_id_login" class="control-group"> 
                    <div class="controls"> <input class="input" type="text" name="login" placeholder="Username" autofocus="autofocus" maxlength="150" class="textinput textInput" required id="id_login"> </div> 
                    <div id="div_id_password" class="control-group"> <div class="controls"> <input class="input" type="password" name="password" placeholder="Password" class="textinput textInput" required id="id_password"> </div> </div> 
                    <div id="div_id_remember" class="control-group"> <div class="controls"> <label for="id_remember" class="checkbox "> <input type="checkbox" name="remember" class="checkboxinput" id="id_remember">
                    <label for="id_remember" class="checkbox ">Remember Me</label> 
                    </div>
                
                <div class="wrap-input">

                </div>


                <div class="form-btn2">
                    <button> Login</button>
                    <button class="btn3"><a href="{{ signup_url }}" id="signup">SIGN UP</a></button>
                </div>

                <div class="border-bottom"></div>


                <ul class="social-icon-one">
                    <li class="github"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li class="dribbble"><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <!--li class="behance"><a href="#"><span class="fa fa-behance"></span></a></li-->
                </ul>


              

            </form>


        </div>
    </div>
</div> 



</body>
</html>