{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>High5</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/confession.css' %}" type="text/css" media="all"  />
<!-- WIN IE Style Sheets -->
<!--[if IE]>
  <![if gte IE 5.5]>
     <![if gte IE 7]><link rel="stylesheet" type="text/css" media="screen,projection" href="assets/ie.css" /><![endif]>
     <![if lt IE 7]><link rel="stylesheet" type="text/css" media="screen,projection" href="assets/ie.css" /><![endif]>
  <![endif]>
  <![if lt IE 5.5]><link rel="stylesheet" type="text/css" media="screen,projection" href="assets/ie.css" /><![endif]>
<![endif]-->
</head>
<body>
<div id="topbg">
  <div id="wrap">
    <div id="header">
      <h1 id="blogtitle">Humane</h1>
      <div id="tagline">The Beautiful Tagline Goes Here..</div>
      <form class="search" method="post" action="http://all-free-download.com/free-website-templates/">
        <p>
          <input class="textbox" type="text" name="search_query" value="Search" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
          <input class="button" type="submit" name="Submit" value="" />
        </p>
      </form>
      <div id="userpic"></div>
      <div id="welcome">Use this place to display short welcome message to your visitors or to add any sort of information about your site or yourself. And also, you can use this space to display 468 x 60 Ad and help montize your site.</div>
    </div>
    <div id="content-wrap-top">
      <div id="nav">
        <div id="nbar">
          <ul>
            <li id="selected"><a href="{% url 'home' %}">Home</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div id="wrap2">
      <div id="content-wrap">
        <div id="sidebar">
          <div class="sidetop"></div>
          <div class="widgetspace">
            <h1>Sidebar Links</h1>
            <ul class="menu">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'confession:create-post' %}">Confess</a></li>
              <li><a href="http://all-free-download.com/free-website-templates/">deviantART</a></li>
              <li><a href="http://all-free-download.com/free-website-templates/">Gigacore</a></li>
              <li><a href="http://all-free-download.com/free-website-templates/">Digg</a></li>
            </ul>
          </div>
          <div class="sidebot"></div>
          <div class="sidetop"></div>
          <div class="widgetspace">
            <h1>Useful Resources</h1>
            <ul class="menu">
              <li><a href="http://all-free-download.com/free-website-templates/">w3schools</a></li>
              <li><a href="http://all-free-download.com/free-website-templates/">CSS Zen Garden</a></li>
              <li><a href="http://all-free-download.com/free-website-templates/">Open Designs</a></li>
              <li><a href="http://all-free-download.com/free-website-templates/">W3C</a></li>
              <li><a href="http://all-free-download.com/free-website-templates/">ThemeBot</a></li>
            </ul>
          </div>
          <div class="sidebot"></div>
          <div class="sidetop"></div>
          <div class="widgetspace">
            <h1>Sample Text</h1>
            <p><strong>Quotes</strong></p>
            <p>A table, a chair, a bowl of fruit and a violin; what else does a man need to be happy? <br />
              -Albert Einstein </p>
          </div>
          <div class="sidebot"></div>

        </div>
        <div id="content">
          <h1>Welcome Confession</h1>
          <p><strong>Humane</strong> template is a free Template for your website. This is a valid xHTML and Valid CSS template and W3C-Compilant. The template is designed by <a href="http://all-free-download.com/free-website-templates/">ThemeBin</a>. The template weighs just 30.5 KB. This template is licensed under <a href="http://creativecommons.org/licenses/by/2.5/">Creavtive Commons India 2.5 License,</a> which means you are free to modify this template as per your needs for any purpose. And please keep the back link to my site in the credits (footer) intact. That will make the CC License vaild.</p>
          <p>For more templates, themes, wallpapers and more, visit <a href="http://all-free-download.com/free-website-templates/">my website</a>. Hope you find this template useful and best of luck!</p>

          <p class="post-footer"><span class="dated">Oct 16, 2008</span><span class="category">Category</span><span class="author">Mayank</span><span class="more">Read more...</span></p>

          <h2>Text</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce velit pede, lacinia eu, tempor nec, vestibulum non, dolor. Aenean malesuada laoreet lacus. Vivamus lementum, felis ac ullamcorper blandit, neque erat porttitor lorem, non aliqfet quam magna ac enim. Morbi tempus odio eu lorem. Quisque volutpat, odio id gravida commodo, turpis orci consequat augue, eget dignissim odio tellus et lacus. Nulla nulla nisl, porta eu, ullamcorper vitae, facilisis in, nulla.Curabitur a pede. Mauris at metus quis nulla eleifend pharetra. Sed accumsan. Maecenas ipsum. Aliquam erat volutpat.</p>

          <h2>Block Quote</h2>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce velit pede, lacinia eu, tempor nec, vestibulum non, dolor. Aenean malesuada laoreet lacus....</p>
          </blockquote>

          <h3>Sample Form</h3>
          <form action="http://all-free-download.com/free-website-templates/">
            <p>
              <label>Name</label>
              <input name="dname" value="Your Name" type="text" size="30" />
              <label>Email</label>
              <input name="demail" value="Your Email" type="text" size="30" />
              <label>Your Confession</label>
              <textarea rows="5" cols="5"></textarea>
              <br />
              <input class="button" type="submit" />
            </p>
          </form>
          <p>&nbsp;</p>
          <p class="post-footer"><span class="dated">Oct 16, 2008</span><span class="category">Category</span><span class="author">Mayank</span><span class="more">Read more...</span></p>
          <br />
        </div>
      </div>
    </div>
    <!-- End Wrap2 -->
    <div id="content-wrap-bottom"><br />
      <br />
      <div id="navdeck">
        <div class="old"><a href="http://all-free-download.com/free-website-templates/">Previous</a></div>
        <div class="home"><a href="http://all-free-download.com/free-website-templates/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
        <div class="new"><a href="http://all-free-download.com/free-website-templates/">Next</a></div>
      </div>
    </div>
    <div id="footer"> &copy; 2008 <strong>Your Company</strong> | Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | Design by: <a href="http://www.themebin.com/">ThemeBin</a>
      <!-- Please Do Not remove this link, thank u -->
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://all-free-download.com/free-website-templates/">Home</a> | Sitemap </div>
  </div>
  <!-- End Wrap -->
</div>
<!-- End Top BG -->
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
